@model AddProductViewModel

<h1>ADDING PRODUCT PAGE</h1>
<form asp-action="AddProduct" asp-controller="Product" method="post">
    <span>
        <input asp-for="@Model.PartitionKey" placeholder="Partition Key"/> 
        <span asp-validation-for="@Model.PartitionKey" style="color:red;"></span>
    </span>
    <span>
        <input asp-for="@Model.Name" placeholder="Product Name"/> 
        <span asp-validation-for="@Model.Name" style="color:red;"></span>
    </span>
    <span>
        <input asp-for="@Model.Price" placeholder="Product Price" />
        <span asp-validation-for="@Model.Price" style="color:red;"></span>
    </span>
    <span>
        <input asp-for="@Model.Stock" placeholder="Count in Stock" />
        <span asp-validation-for="@Model.Stock" style="color:red;"></span>
    </span>
    <span>
        <input asp-for="@Model.Color" placeholder="Product Color" />
        <span asp-validation-for="@Model.Color" style="color:red;"></span>
    </span>
    <div>
        <label for="category">Select Store :</label>
        <select asp-for="@Model.SelectedStore" asp-items="ViewBag.Stores" class="form-control">
            <option value="">-- Select a Store --</option>
        </select>
    </div>
    <button type="submit">Add Product</button>
</form>
<a href="/Product/Index">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>